/* ------ Styling css for index & tasksPage ---------- */
body {
    background-color: #e0ccdf92;
    font-family: 'Times New Roman', Times, serif;
}

.nav-background {
    background-color: rgba(156, 95, 210, 0.63);
}

.navbar-nav .nav-link {
    white-space: nowrap;
}

.last {
    border-radius: 40px 40px 0 0;
    background-color: rgba(156, 95, 210, 0.63);
}

/* Same for both the pages for above */


/* ------- Index Page Styling -------------- */

/* Input Box for Tasks */
/* Input wrapper: max 600px, but shrinks on small screens */
.todo-input-wrapper {
    max-width: 600px;
    width: 100%;
}

/* To do List Title styling */
.todo-title {
    margin-top: 13rem;
    text-align: center;
    font-size: clamp(2.4rem, 6vw, 4.5rem);
    /* 2.4rem on small, up to 4.5rem on large */
    color: blueviolet;
}

.about {
    margin-top: 30rem;
    border-top: 8px solid #ac67d29b;
    /* border-bottom: 8px solid #ac67d29b; */
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* --------- tasksadder.js Styling ------- */

/* Removing the Bullet Points in UL */
#tasks-data {
    list-style-type: none;
}


/* JS styling */
.task-container {
    margin-top: 0.5rem;
    height: auto;
}

.task-text {
    font-size: 1.3rem;
    margin-left: 2.5rem;
    /* font-weight: 700; */
}

.task-action {
    display: none;
    transition: opacity 0.2s ease;
}

li:hover .task-action {
    display: inline-block;
}

.check-box {
    transform: scale(1.5);
}

/* ---------- MEDIA QUERIES ---------- */

/* Small devices (phones) */
@media (max-width: 576px) {
    .todo-title {
        margin-top: 2rem;
    }

    .todo-input-wrapper {
        padding: 0 1rem;
        /* little breathing space from edges */
    }

    .about {
        margin-top: 3rem;
    }
}

/* Medium devices (tablets) */
@media (min-width: 577px) and (max-width: 992px) {
    .todo-title {
        margin-top: 3rem;
    }

    .about {
        margin-top: 10rem;
    }
}